---
import Base from '../layouts/Base.astro';
const pageTitle = 'Home';
---

<Base pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <h2 class='italic'>Welcome to the Deer Isle - Stonington community website!</h2>
</Base>
