<footer class='bg-blue-600 text-white'>
  <div class='container px-5 py-4 mx-auto flex items-center md:flex-row flex-col'>
    <!-- Logo and Brief About -->
    <a href='/' class='flex title-font font-medium items-center md:justify-start justify-center text-white'>
      <img src='logo.png' alt='Deer Isle-Stonington Logo' class='w-10 h-10' />
      <span class='ml-3 text-xl'>Deer Isle-Stonington</span>
    </a>
    <p class='text-sm text-white md:ml-4 md:pl-4 md:border-l-2 md:border-gray-200 sm:py-2 sm:mt-0 mt-4'>
      © 2023 James Rutter —
      <a href='mailto:info@deerisle-stonington.com' class='text-white ml-1' rel='noopener noreferrer' target='_blank'
        >jamesdavidrutter@gmail.com</a
      >
    </p>
  </div>
</footer>
