<header class='bg-blue-600 text-white body-font'>
  <div class='container mx-auto flex justify-between items-center p-5'>
    <!-- Logo and Title -->
    <a href='/' class='flex title-font font-medium items-center text-white'>
      <img src='logo.png' alt='Deer Isle-Stonington' class='w-10 h-10 text-white p-2 bg-indigo-500 rounded-full' />
      <span class='ml-3 text-xl'>Deer Isle</span>
    </a>

    <!-- Hamburger Menu Icon -->
    <button id='menu-btn' class='md:hidden outline-none'>
      <svg
        xmlns='http://www.w3.org/2000/svg'
        fill='none'
        viewBox='0 0 24 24'
        stroke-width='1.5'
        stroke='currentColor'
        class='w-6 h-6'
      >
        <path stroke-linecap='round' stroke-linejoin='round' d='M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5'></path>
      </svg>
    </button>

    <!-- Navigation Dropdown -->
    <nav id='menu' class='hidden md:flex flex-col md:flex-row md:items-center md:ml-auto'>
      <a href='/about' class='block py-2 px-4 text-white hover:text-gray-900'>About</a>
      <a href='/events' class='block py-2 px-4 text-white hover:text-gray-900'>Events</a>
      <a href='/directory' class='block py-2 px-4 text-white hover:text-gray-900'>Directory</a>
      <a href='/contact' class='block py-2 px-4 text-white hover:text-gray-900'>Contact</a>
    </nav>
  </div>
</header>

<script>
  let menuButton = document.getElementById('menu-btn');
  if (menuButton !== null) {
    menuButton.onclick = function () {
      const menu = document.getElementById('menu');
      menu?.classList.toggle('hidden');
    };
  }
</script>
